body{
    font-family: 'Courier New', Courier, monospace;
}
/*css for momo */
.heading{
    font-size: 32px;
    color: brown;
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
    
 }

 img{
    width: 800px;
    height: 500px;
 }


.heading.second{
    
    background-color: rgba(0, 128, 0, 0.319);
} 

.pragraph{
    color: darkblue;
    font-family: 'Times New Roman', Times, serif;
    font-size: 29px;
}

ul li,
ol li{
    font-size: 22px;
}

a{
    text-decoration: none;
    text-align: center;
    font-size: 24px;
}
 /*css for pizza */
.heading_for_pizza{
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    color: rgba(34, 34, 89, 0.555);

}

.heading_for_pizza.dosro{
    background-color: rgba(144, 238, 144, 0.797);
    text-align: center;
}


#anuched,
.dosro-anuched,
.tesro-anuched{
    font-family: 'Times New Roman', Times, serif;
    font-size: 29px;
    
}

.list li 
{
    font-size: 22px;
    text-align: left;
}
 
.list_2 li{
    font-size: 22px;
}

/*css for burger*/ 

.heading_for_burger{
    font-size: 32px;
    color: #C27E79;
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
}

.heading_for_burger.dos {
    background-color: rgba(245, 245, 220, 1);
    text-align: center;
}

.parrafo,
.dos-parrafo{
    font-size: 29px;
    font-family: 'Times New Roman', Times, serif;

}
.suchi li{
    font-size: 22px;

}

.suchi_2 li{
    font-size:22px;
}