.heading {
    color: rgba(255, 0, 0, 0.495);
    text-decoration: underline;
    font-size: 32px;

}

.link{
    text-decoration: none;
    text-align: center;
    color: black;
    font-size: 22px;
    font-weight: bold;
    border-color: black;

}

.chef{
    width: 700px;
    height: auto;
}

.second{
    font-family: Verdana, Geneva, Tahoma, sans-serif
}