.heading {
    color:rgb(255, 0, 0);
    

}

.link{
    text-decoration: none;
    text-align: center;
    color: black;
    font-size: 22px;
    font-weight: bold;
    border-color: black;

}

.chef{
    width: 700px;
    height: auto;
}